.page__body {
  margin: 0;
  padding: 0;
  background-color: $basic-white;

  @include font-oswald();

  @media (min-width: $desktop-width) {
    background-image: url("../../img/background_cat_full.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
}
