.button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  color: $basic-white;
  background-color: $basic-green;
  text-transform: uppercase;
  width: 100%;
  border: 0;
  cursor: pointer;

  @include font-oswald(14px, 18px, 400);
}
