.example {
  background-color: $example-background-color;
  padding-top: 27px;
  padding-bottom: 39px;
  position: relative;
  min-height: 705px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 33px;
    background: linear-gradient(
      to bottom,
      $basic-white 619px,
      $example-background-color 619px
    );
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 654px;
    background: linear-gradient(
      to bottom,
      $basic-white 194px,
      $example-background-color 194px
    );
  }
}

.example__grid {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  @include font-oswald(36px, 40px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(60px, 60px, 400);
    grid-column: -1/1;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-top: 58px;
    margin-bottom: 146px;
  }
}

.example__description {
  @include font-arial(14px, 19px, 400);
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    @include font-arial(16px, 24px, 400);
    margin-bottom: 54px;
    grid-column: -1/1;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.example__list {
  @include non-list();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    margin-bottom: 60px;
  }
}

.example__item {
  text-align: center;
  position: relative;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid $border-number-color;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
    width: 162px;
    padding-top: 13px;
    padding-bottom: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }
}

.example__number {
  @include font-oswald(24px, 24px, 400);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-oswald(30px, 37px, 400);
  }
}

.example__definition {
  margin: 0;
  box-sizing: border-box;

  @include font-arial(12px, 12px, 400);
  width: 87px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 16px;
  bottom: -15px;
  background-color: $example-background-color;

  @media (min-width: $tablet-width) {
    @include font-arial(14px, 14px, 400);
    width: 114px;
    padding: 0;
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    left: 22px;
    bottom: -6px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $example-background-color;
  }
}

.example__definition--time {
  @media (min-width: $tablet-width) {
    width: 142px;
    left: 8px;
  }
}

.example__expense {
  margin: 0;
  margin-bottom: 46px;
  text-align: center;
  text-transform: uppercase;

  @include font-oswald(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(20px, 20px, 400);
    grid-column: 2/3;
    width: 174px;
    text-align: right;
    margin-left: auto;
    margin-top: 10px;

    span {
      display: block;
      margin-top: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    text-align: left;
    margin: 0;
    width: 100%;
    margin-bottom: 75px;

    span {
      display: inline;
      margin-left: 60px;
    }
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    grid-column: -1/1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: -1/1;
    position: relative;
  }
}
