.example {
  background-color: $example-background-color;
  padding-top: 27px;
  padding-bottom: 39px;
  position: relative;
  min-height: 705px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    background: linear-gradient(
      to bottom,
      $basic-white 619px,
      $example-background-color 619px
    );
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    background: linear-gradient(
      to bottom,
      $basic-white 194px,
      $example-background-color 194px
    );
  }
}

.example__grid {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

.example__title {
  margin: 0;
  margin-bottom: 33px;

  @include font-oswald(36px, 40px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(60px, 60px, 400);
    grid-column: -1/1;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-top: 58px;
    margin-bottom: 146px;
  }
}

.example__description {
  @include font-arial();
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    @include font-arial(16px, 24px, 400);
    margin-bottom: 54px;
    grid-column: -1/1;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}

.example__list {
  @include non-list();
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    margin-bottom: 60px;
  }
}

.example__item {
  text-align: center;
  position: relative;
  width: 124px;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid $border-number-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    margin-right: 42px;
    width: 162px;
    padding-top: 15px;
    padding-bottom: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.example__number {
  @include font-oswald(24px, 24px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(30px, 37px, 400);
  }
}

.example__definition {
  margin: 0;

  @include font-arial(12px, 12px, 400);
  width: 87px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  left: 18px;
  bottom: -13px;
  background-color: $example-background-color;

  @media (min-width: $tablet-width) {
    @include font-arial(14px, 14px, 400);
    width: 114px;
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    left: 24px;
    bottom: -7px;
    background-color: $basic-white;

    &:last-child {
      width: 142px;
      left: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $example-background-color;
  }
}

.example__expense {
  margin: 0;
  margin-bottom: 42px;
  text-align: center;
  text-transform: uppercase;

  @include font-oswald(14px, 20px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(20px, 20px, 400);
    grid-column: 2/3;
    width: 174px;
    text-align: right;
    margin-left: auto;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    text-align: left;
    margin: 0;
    width: 100%;

    span {
      margin-left: 63px;
    }
  }
}

.example__slider {
  @media (min-width: $tablet-width) {
    grid-column: -1/1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: -1/1;
    position: relative;
  }
}

.example__cat-image {
  width: 311px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 656px;
  }

  @media (min-width: $desktop-width) {
    width: 708px;
    height: 620px;
  }
}

.slider__item {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.slider__item--current {
  display: block;
}

.slider__toggles {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  bottom: 36px;
  transform: translate(-50%, 0);

  @media (min-width: $tablet-width) {
    bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    bottom: 0;
  }
}

.slider__toggle-name {
  text-transform: uppercase;
  margin: 0;

  @include font-oswald(16px, 20px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(20px, 30px, 400);
  }
}

.slider__toggle-wrapper {
  width: 84px;
  background-color: $basic-white;
  margin-right: 19px;
  margin-left: 19px;
  padding: 4px 6px;
  border: 1px solid $border-number-color;
  border-radius: 6px;
  display: flex;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle {
  width: 35px;
  height: 6px;
  background-color: $basic-white;
  border-radius: 6px;
  border: 0;
  position: relative;
}

.slider__toggle--current {
  display: block;
  background-color: $basic-green;
}

.slider__scale-wrapper {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 468px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
}

.slider__scale {
  @media (min-width: $tablet-width) {
    height: 6px;
    background-color: $scale-color;
    border-radius: 6px;
  }
}

.slider__toggle-scale {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    top: -15px;
    left: 50%;
    width: 34px;
    height: 34px;
    padding: 0;
    border: 13px solid #ffffff;
    background-color: $basic-green;
    border-radius: 50%;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    cursor: pointer;
  }
}
