.page-footer {
  background-color: $basic-background;
}

.page-footer__grid {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  text-align: center;
}

.social__list {
  @include non-list();
  display: flex;
}

.copyright__link-text {
  @include font-arial(16px, 18px, 400);
}
