.offers {
  padding-top: 25px;
}

.offers__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 245px;
    column-gap: 80px;
  }
}

.goods-additional__main-title {
  margin: 0;
  margin-bottom: 36px;

  @include font-oswald(24px, 24px, 400);

  @media (min-width: $tablet-width) {
    padding-left: 38px;
  }
}

.goods-additional__list {
  @include non-list();
}

.goods-additional__item {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.goods-additional__name-goods {
  margin: 0;
  margin-bottom: 13px;
  text-transform: uppercase;

  @include font-oswald(16px, 16px, 400);
  color: $special-dark-grey;
}

.goods-additional__data {
  @include font-arial(14px, 14px, 400);
  color: $special-dark-grey;
}

.goods-additional .button {
  @media (min-width: $tablet-width) {
    width: 632px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}
