.how-it-works {
  padding-top: 7px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
    border-bottom: 1px solid $basic-grey;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
    border: 0;
  }
}

.how-it-works__title {
  margin: 0;
  margin-bottom: 40px;

  @include font-oswald(36px, 40px, 400);

  @media (min-width: $tablet-width) {
    @include font-oswald(60px, 60px, 400);
    margin-bottom: 32px;
  }
}

.how-it-works__list {
  @include non-list();

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.how-it-works__item {
  margin-bottom: 26px;
  min-height: 60px;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    width: 249px;
    background-size: 80px 80px;
    background-position: 0 40px;

    &::after {
      content: "1";
      position: absolute;
      top: 0;
      left: 118px;
      z-index: -1;

      @include font-oswald(280px, 280px, 400);
      color: $basic-background;
    }
  }
}

.how-it-works__item--nutrients {
  background-image: url("../../img/icon_nutrients.svg");
  background-repeat: no-repeat;
}

.how-it-works__item--flour {
  background-image: url("../../img/icon_flour.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    &::after {
      content: "2";
    }
  }
}

.how-it-works__item--regular-meals {
  background-image: url("../../img/icon_meals.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    &::after {
      content: "3";
    }
  }
}

.how-it-works__item--improvement {
  background-image: url("../../img/icon_improvement.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    &::after {
      content: "4";
    }
  }
}

.how-it-works__description {
  margin: 0;
  padding-left: 80px;

  @include font-arial();

  @media (min-width: $tablet-width) {
    padding-top: 151px;
    padding-left: 0;

    @include font-arial(16px, 24px, 400);
  }
}
