.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 65px;
  background-color: $basic-white;
  border: 0;
  border-radius: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:active {
    background-color: $basic-grey;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 20px;
  width: 24px;
  height: 1.5px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--nojs .main-nav__list {
  display: block;
  position: static;
  margin-left: -20px;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 21px;
    width: 25px;
    height: 1.5px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include non-list;
  position: absolute;
  width: 100vw;
  left: 0;
  top: 64px;
  z-index: 10;
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    width: 530px;
    justify-content: flex-end;
    border-top: 0;
  }
}

.main-nav__item {
  @media (min-width: $tablet-width) {
    margin-left: 36px;

    &--current {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    &--current {
      border-bottom: 2px solid $basic-white;
    }
  }
}

.main-nav-black .main-nav__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-green;
  }
}

.main-nav__link {
  display: block;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 24px;
  background-color: $basic-white;
  text-transform: uppercase;
  border-bottom: 1px solid $basic-grey;

  @include font-oswald(20px, 20px, 500);

  &[href]:active {
    background-color: $basic-grey;
  }

  &[href]:hover {
    span {
      opacity: 0.6;
    }
  }

  @media (min-width: $tablet-width) {
    @include font-oswald(18px, 24px, 400);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    background-color: transparent;

    &[href]:active {
      background-color: transparent;
      opacity: 0.3;
    }

    @media (min-width: $desktop-width) {
      @include font-oswald(20px, 30px, 400);
      color: $basic-white;
    }
  }
}

.main-nav-black .main-nav__link {
  @media (min-width: $desktop-width) {
    color: $dark-grey;
  }
}
