.offer {
  text-align: center;
  color: $basic-white;
  padding-top: 58px;
  padding-bottom: 43px;
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: $background-preview;

  background-image: url("../../img/background_cat_offer_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background_cat_offer_mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 59px;
    padding-bottom: 61px;
    padding-left: 77px;
    margin-top: 69px;
    margin-bottom: 76px;

    display: flex;
    align-items: center;
    background-image: url("../../img/background_cat_offer_tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background_cat_offer_tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    padding-bottom: 43px;
    padding-left: 0;
    margin: 0;
    width: 245px;
    display: block;
    margin-left: 80px;
    background-image: url("../../img/background_cat_offer_desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background_cat_offer_desktop@2x.png");
    }
  }
}

.offer__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 265px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
  }
}

.offer__text {
  margin: 0;
  width: 162px;
  margin-left: auto;
  margin-right: auto;

  @include font-arial(16px, 20px, 400);

  @media (min-width: $tablet-width) {
    margin: 0;
    text-align: left;
    padding-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
