.offer {
  @include container();
  text-align: center;
  background-image: url("../../img/background_cat_offer.png");
  background-position: center 0;
  background-repeat: no-repeat;
  color: $basic-white;
  margin-top: 36px;
  padding-top: 65px;
  padding-bottom: 78px;
}

.offer__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.offer__text {
  margin: 0;
  margin-top: 48px;
  width: 162px;
  margin-left: auto;
  margin-right: auto;

  @include font-arial(16px, 20px, 400);
}
