.page-header {
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 78px;
  }

  @media (min-width: $desktop-width) {
    min-height: 109px;
  }
}

.page-header__grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 13px;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
  }
}

.page-header__logo-link {
  box-sizing: border-box;
  display: block;
  min-height: 65px;
  padding-top: 11px;

  &[href]:hover {
    opacity: 0.8;
  }

  &[href]:active {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 33px;
  height: 37px;

  @media (min-width: $tablet-width) {
    width: 184px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__logo-text-link {
  display: block;
  margin-left: 56px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
