.preview {
  text-align: center;
  color: $basic-white;
  position: relative;
  margin-bottom: 22px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    min-height: 870px;
    text-align: left;
    padding-top: 60px;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    min-height: 585px;
    padding-top: 114px;
    margin-bottom: 82px;
    position: static;
  }

  &::before {
    padding-right: -150px;
    content: "";
    width: 100vw;
    height: 302px;
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../../img/background_cat_mobile.png");
    background-repeat: no-repeat;
    background-color: $background-preview;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background_cat_mobile@2x.png");
    }

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      height: 694px;
      width: 50vw;
      top: 0;
      left: unset;
      right: 0;
      background-image: url("../../img/background_cat_desktop.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background_cat_desktop@2x.png");
      }
    }
  }
}

.preview__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.preview__title {
  margin: 0;
  margin-bottom: 25px;

  @include font-oswald(36px, 36px, 400);

  @media (min-width: $tablet-width) {
    width: 420px;
    margin-bottom: 41px;

    @include font-oswald(60px, 60px, 400);
    color: $basic-black;
  }
}

.preview__slogan {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;

  @include font-oswald(14px, 14px, 400);

  @media (min-width: $tablet-width) {
    text-align: left;

    @include font-oswald(20px, 20px, 400);
    color: $basic-black;
    margin-bottom: 49px;
  }
}

.preview__nutrition-can-image {
  width: 280px;
  height: 270px;
  margin-bottom: 3px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: $tablet-width) {
    display: block;
    width: 709px;
    height: 609px;
    position: absolute;
    left: 0;
    top: 263px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    width: 552px;
    height: 499px;
    left: 558px;
    top: 141px;
  }
}

.preview .button {
  @media (min-width: $tablet-width) {
    width: 244px;
    padding-top: 14px;
    padding-bottom: 14px;

    @include font-oswald(20px, 20px, 400);
  }
}
