//Colors

$basic-white: #ffffff;
$basic-black: #000000;
$basic-green: #68b738;
$basic-background: #f2f2f2;
$example-background-color: #eaeaea;
$special-dark-grey: #222222;
$dark-grey: #444444;
$darker-grey: #111111;
$background-preview: #66cc33;

//Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
